{% extends "Pneumonia_App/layout.html" %}

{% block body %}  

    <section class="dashboard" id="dashboard">

        
        <div class="dashboard1" id="dashboard1">
            <div class="genderDashboard" id="genderDashboard">
                <input type="hidden" id="MaleNumVar" name="MaleNumVar" value="{{ gender_number.0 }}">
                <input type="hidden" id="FemaleNumVar" name="FemaleNumVar" value="{{ gender_number.1 }}">

                <canvas id="genderChart"></canvas>
            </div>

            <div class="ageDashboard" id="ageDashboard">
                <input type="hidden" id="babiesNumVar" name="babiesNumVar" value="{{ age_group.0 }}">
                <input type="hidden" id="childrenNumVar" name="childrenNumVar" value="{{ age_group.1 }}">
                <input type="hidden" id="youngANumVar" name="youngANumVar" value="{{ age_group.2 }}">
                <input type="hidden" id="middleANumVar" name="middleANumVar" value="{{ age_group.3 }}">
                <input type="hidden" id="oldANumVar" name="oldANumVar" value="{{ age_group.4 }}">
    
                <canvas id="AgeChart"></canvas>
            </div>

            
        </div>

        <div class="dashboard2" id="dashboard2">
            <div class="labelDashboard" id="labelDashboard">
                <input type="hidden" id="covidNumVar" name="covidNumVar" value="{{ label_number.0 }}">
                <input type="hidden" id="pneumoniaNumVar" name="pneumoniaNumVar" value="{{ label_number.1 }}">
                <input type="hidden" id="normalNumVar" name="MaleNumVar" value="{{ label_number.2 }}">
        
                <canvas id="labelChart"></canvas>
            </div>
    
            <div class="statusDashboard" id="statusDashboard">
                <input type="hidden" id="safeNumVar" name="safeNumVar" value="{{ status_number.0 }}">
                <input type="hidden" id="activeNumVar" name="activeNumVar" value="{{ status_number.1 }}">
                <input type="hidden" id="recoveredNumVar" name="recoveredNumVar" value="{{ status_number.2 }}">
                <input type="hidden" id="deceasedNumVar" name="deceasedNumVar" value="{{ status_number.3 }}">
    
                <canvas id="statusChart"></canvas>
    
            </div>

        </div>
        
    </section>
       
{% endblock %}