{% load static %}

<!DOCTYPE html>
<html lang="eng">

    <head>
        <title>Pneumonia Detection</title>
        <script src = "https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome = 1"> 
        <meta name="viewport" content="width=device-widhth, initial-scale=1.0">

        <!-- means IE should use the latest (edge) version of its rendering engine -->
        <!-- chrome=1 means IE should use the Chrome rendering engine if installed -->
        <script src="{% static 'Pneumonia_App/css/pneumonia.js' %}"></script>
        <script src="{% static 'Pneumonia_App/css/graph.js' %}"></script>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- font awesone cdn link-->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


        <!-- custom css file link -->
        <link rel="stylesheet" type="text/css" href="{% static 'Pneumonia_App/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'Pneumonia_App/css/dashboard.css' %}">


    </head>
    
    <body>
        <h1>User Information</h1>

        <h3>Name: {{ name }}</h3>
        <h3>Phone Number: {{ pNumber }}</h3>
        <h3>Email: {{ email }}</h3>

    </body>
</html>