{% extends "Pneumonia_App/layout.html" %}


{% block body %}        
    <div class="insert" id="insert">
        <!-- <button onclick="submit()">Testing</button><br> -->

        <form method="post" enctype="multipart/form-data" id="xray-scan" name="xray-scan" onsubmit="return formValidation()">

            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{message}}</strong> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}

            {% csrf_token %}
            <h1>Registration Form</h1>
            <input id=insert_path type="hidden" name= "insert_path" value= {{insert_path}} class="box">


            <h2>ID: {{PID}}</h2><br>
            <input id=insertPID type="hidden" name= "insertPID" value= {{PID}} class="box">

            <h2>Name: </h2>
            <input id=insertName type="text" name="insertName", placeholder="Enter Full Name" class="box">
            <br><br>

            <h2>Age: </h2>
            <input id=insertAge type="number" name="insertAge", placeholder="Enter Age", min="0" class="box">
            <br><br>

            <h2>Gender: </h2>
            <select id="insertGender" name="insertGender" class="box">
            <option value="M">M</option>
            <option value="F">F</option>
            </select>
            <br><br>

            <h2>Phone: </h2>
            <input id=insertPhone type="text" name="insertPhone", placeholder="Enter Phone" class="box">
            
            <br><br> 

            <input id="filePath" name="filePath" type="file"><br><br><br>

            <img id=XrayImage name=XrayImage width= "900" height="400" src="data:image/png;base64,{{ result|safe }}", alt="" class="xrayImage">

            <div class = "submitButton">
                <input id="formsubmit1" class="formsubmit1" type="submit" value="Evaluate" formaction="eval">
                
            </div>

            {% if  label  == "COVID" or  label  == "PNEUMONIA" %}
                <input id=status type="hidden" name="status" value= "ACTIVE">
            {% else %}
                <input id=status type="hidden" name="status" value= "SAFE">
            {% endif %}

            <br>
            <h2>Label: {{label}}</h2><br>
            <input id=label type="hidden" name="label" value= {{label}}>

            <h2>Remark: </h2>
            <input id=remark type="text" name="remark", placeholder="Description..." class="box">
            <br><br>

            <div class = "submitButton">
                <input id="formsubmit2" class="formsubmit2" type="submit" value="Save" formaction="submit_form" >
            </div>
            

            
        </form>

    </div>

{% endblock %}