{% extends "Pneumonia_App/layout.html" %}

<!-- Name: Doctor Passowrd: medicine999 -->
{% block body %}

    <section class="logInForm" id="logInForm">

        <div class = "row" >

            <form method="POST" action="">
                <h3>Log In</h3>
                {% csrf_token %}
                <h2>Name: </h2>
                <input id=name type="text" name="name", placeholder="Enter Name", class="box">
                
                <br><br>
                <h2>Password:</h2>
                <input type="password" name="password" placeholder="Password..." class="box" >
                <br>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert" id="loginMessage">
                            {{ message }}
                        </div>
                        <!-- <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
                            {{ message }}
                        </div> -->
                    {% endfor %}
                {% endif %}

                <div class = submitButton>
                    <input type="submit" value="Log In" class = "btn">
                </div>
            </form>

        </div>

        
    </section>
    


{% endblock %}
