{% extends "Pneumonia_App/layout.html" %}

{% block body %}      
    <div class = "update" id="update">

        <form action="/updateDB/{{ patient.id }}" method="post" onsubmit="return submit()" enctype="multipart/form-data" id="post-form">
            {% csrf_token %}
            <a href="{% url 'viewDB' %}" class ="backIcon"><i class="fa-solid fa-circle-left"></i>BACK</a><br>

            
            <h1>Patient Information</h1>

            <h2>Patient ID: &nbsp; {{patient.PatientID}}</h2>
            <br>

            <h2>Name: &nbsp; {{patient.PatientName}}</h2>
            <br>

            <h2>Gender: &nbsp;{{patient.PatientGender}}</h2>
            <br>

            <h2>Age: &nbsp;{{patient.PatientAge}}</h2>
            <br>

            <h2>Phone: &nbsp; {{patient.PatientPhone}}</h2>
            <br>

            <h2>Predicted Label: &nbsp;{{patient.PatientPredictedLabel}}</h2><br><br>

            <img width= "900" height= "400" src="{{ patient.Patient_X_Ray_Heatmap.url }}" alt="" class="prod-size"><br>

            <h2>Remark: &nbsp;{{patient.PatientRemark}}</h2><br><br>

            <h2>Status: &nbsp;{{patient.PatientStatus}}</h2><br><br>  

        </div>

    </div>
    <br><br>
    
{% endblock %}
